// /**************************************************
// Media query settings for screen and prints
// ***************************************************/
@import 'misc'; // For Mixtend hack and various other

////
/// This is a poster comment.
/// It will apply annotations to all items from file.
/// @group Media quiries
/// @author Michael Koch
////

/// Mixin to make specific compile placement mediaqueries
/// @author Michael Koch
/// @param {px} $tablet-width - Below is phone. Between $tablet-width and $dekstop-width is tablet
/// @param {px} $desktop-width - Above this is desktop
@mixin mediaQueries($tablet-width, $desktop-width) {
    @media screen and (max-width: #{$tablet-width - $mqBuffer}) {
      // /* Mediaquery for Phones */
    }
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - $mqBuffer}) {
        // /* Mediaquery for tablet */
        // LIST MEDIAQUERIES FOR TABLET WITH HERE
    }  
    
    @media (min-width: #{$desktop-width}) {
        // /* Mediaquery for desktop */
        // LIST MEDIAQUERIES FOR DESKTOP WITH HERE
    }    
}

/// Mixin to make mediaqueries for phone
/// Use like: @include mq-phone{ color: black; }
/// @author Michael Koch
@mixin mq-phone {
    @media screen and (max-width: #{$tablet-width - $mqBuffer}) {
        // /* PHONE MQ */
      @content;
    }
}

/// Mixin to make mediaqueries for tablet
/// Use like: @include mq-tablet{ color: black; }
/// @author Michael Koch
@mixin mq-tablet {
    @media screen and (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - $mqBuffer}) {
        /* TABLET MQ */
      @content;
    }
  }

/// Mixin to make mediaqueries for dekstop
/// Use like: @include mq-desktop{ color: black; }
/// @author Michael Koch
  @mixin mq-desktop {
    // @media screen and (min-width: #{$desktop-width}) {
    // DISABLING TABLET BREAKPOINT FOR THIS PROJECT.
    // DESKTOP BREAKS AT TABLET WIDTHS.
    @media screen and (min-width: #{$tablet-width}) {
        /* DESKTOP MQ */
      @content;
    }
  }

/// Mixin to make custom mediaqueries
/// Use like: @include mq-custom(700px, 1200px){ color: black; }
/// @author Michael Koch
/// @param {px} $min - Minimum size
/// @param {px} $max - Maximum size
  @mixin mq-custom($min, $max) {
    @media screen and (min-width: #{$min}) and (max-width: #{$max - $mqBuffer}) {
        /* CUSTOM MQ */
      @content;
    }
  }

/// Mixin to make print mediaqueries
/// Use like: @include mq-print{ color: black; }
/// @author Michael Koch
  @mixin mq-print {
    @media print {
        /* PRINT MQ */
      @content;
    }
  }

/// Mixin to make specific compile placement printable mediaqueries
/// @author Michael Koch
@mixin mq-printable {

  // @media print {

  //   * {
  //     background: transparent !important;
  //     color: #000 !important;
  //     box-shadow: none !important;
  //     text-shadow: none !important;
  //     opacity: 1 !important;
  //     // filter: grayscale(100%); // For Black/white print.
  //   }


  //   body {
  //     // width: 30%;
  //   }

  //   nav, .navi {
  //     display: none;
  //     width: 0;
  //     height: 0;
  //   }

  //   #intro {
  //     position: absolute;
  //     width: 50% !important;

  //   }

  //   .start-slide {
  //     position: relative;
  //   }

  //   .start-slide-info {
  //     // @include fullWidthRow1(false);
  //     grid-column: 1 /13;
  //     grid-row: 1 / 2;
  //     margin: 0 0 0 0;
  //     padding: 0 0 0 0;
  //     text-align: center;
  //     // width: 30%;

  //     h1 {
  //       font-size: 4rem;
  //       color: green;
  //       margin: 0;
  //       padding: 0;
  //     }

  //     h2 {
  //       font-size: 2rem;
  //       letter-spacing: 0.0001rem;
  //     }
  //   }

  //   .start-slide-img {
  //     // grid-column: 3 / 11;
  //     // grid-row: 2 / 3;
  //     // @include fullWidthRow2(false);
  //     grid-column: 1 / 11;
  //     grid-row: 2 / 3;
  //     overflow: hidden;
  //     // page-break-after: avoid;

  //     img {
  //       display: inline-block;
  //       visibility: visible;
  //       width: 100%;
  //       margin-top: 0;
  //       margin-bottom: 0;
  //       margin-left: auto;
  //       margin-right: auto;
  //       vertical-align: center;
  //     }

  //     section {
  //       display: none;
  //     }
  //   }

  //   .container {
  //     // opacity: 1 !important;
  //     page-break-inside: avoid;
  //     // margin: 1rem 2rem 0 2rem;
  //     margin-top: 0;
  //     margin-bottom: 0;
  //     width: 100%;
  //   }

  //   .fig-icon {
  //     margin-top: 20%;
  //     width: 50%;
  //   }

  //   .bg-ani-code {
  //     p, h2 {
  //       text-shadow: none;
  //       // font-size: 1rem;
  //     }
  //   }

  //   .typewrite {
  //     display: none;

  //     .wrap {
  //       display: none;
  //     }
  //   }
    
  //   .lnr {
  //     display: none;
  //     visibility: hidden;
  //     font-size: 0px;
  //     animation: none;
  //     // animation-play-state: paused;
  //   }

  //   a,
  //   a:visited {
  //     text-decoration: none;
  //   }

  //   a[href]:after {
  //     content: " (" attr(href) ")";
  //   }

  //   abbr[title]:after {
  //     content: " (" attr(title) ")";
  //   }

  //   a:after,
  //   a[href^="javascript:"]:after,
  //   a[href^="#"]:after {
  //     content: "";
  //   }

  //   pre,
  //   blockquote {
  //     border: 1px solid #999;
  //     page-break-inside: avoid;
  //   }

  //   thead {
  //     display: table-header-group;
  //   }

  //   tr,
  //   img {
  //     page-break-inside: avoid;
  //   }

  //   img {
  //     max-width: 100% !important;
  //     // filter: grayscale(100);
  //     // display: block;
  //     // visibility: visible;
  //   }

  //   @page {
  //     margin: 0.5cm;
  //     // margin: 2cm;
  //   }

  //   h2 {
  //     font-size: 2rem;
  //   }

  //   p,
  //   h2,
  //   h3 {
  //     orphans: 3;
  //     widows: 3;
  //   }

  //   h2,
  //   h3 {
  //     page-break-after: avoid;
  //   }

  //   p,
  //   a,
  //   figcaption {
  //     font-family: var(--p-font);
  //     font-size: 1rem;
  //     letter-spacing: 0.008rem;
  //     font-weight: 400;
  //     // text-align: left;
  //   }
  // }
}